/* Importación de variables para una temática consistente */
@import "variables.css";

/* Estilos base y reinicios globales */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-main);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilización del encabezado */
header {
    background-color: var(--primary-dark);
    color: var(--background-paper);
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilización del logo con mejor centrado */
.logo {
    width: 8rem;
    height: auto;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Sidebar con el mismo color que el header */
.sidebar {
    background-color: var(--primary-dark);
    padding: 2rem;
    color: var(--background-paper);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos mejorados para módulos */
.dashboard-card {
    height: 250px;
    padding: 2.5rem;
    font-size: 1.2rem;
    background-color: var(--background-paper);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Modificación del tamaño de iconos dentro de los módulos */
.card-icon {
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
    color: var(--primary-main);
}

/* Botones de informes con estructura de módulos */
.listados-btn,
.btn-primary,
.btn-success {
    background-color: var(--background-paper);
    color: var(--primary-dark);
    border: none;
    border-radius: 12px;
    padding: 2.5rem;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listados-btn:hover,
.btn-primary:hover,
.btn-success:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}




/* Media Queries */
@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%;
        padding: 1rem;
    }

    .main-content {
        padding: 1rem;
    }

    .module-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .dashboard-card {
        height: 220px;
        padding: 2rem;
    }
}

@media (max-width: 556px) {

    .module-grid {
        grid-template-columns: 1fr;
    }
}