@import "variables.css";
/* Estilos base del cuerpo */

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-main);
}

/* Contenedor del formulario */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: var(--background-paper);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(26, 35, 126, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    color: var(--text-secondary);
}

/* Botón principal */
.btn-primary {
    background-color: var(--primary-dark);
    border-color: var(--primary-main);
    color: var(--background-paper);
    width: 100%;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
}

.btn-primary:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-dark);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(99, 109, 219, 0.2);
}

/* Botón secundario */
.btn-secondary {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    color: var(--background-paper);
    transition: all 0.3s ease;
    width: 100%;
    padding: 0.5rem 1rem;
}

.btn-secondary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-main);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(26, 35, 126, 0.2);
}

#message {
    margin-bottom: 20px;
}

/* Estilos de alertas */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.alert-success {
    color: var(--success-main);
    background-color: var(--success-light);
    border-color: var(--success-border);
}

.alert-danger {
    color: var(--error-main);
    background-color: var(--error-light);
    border-color: var(--error-border);
}

@media (max-width: 768px) {
    .form-container {
        margin-top: 1em;
        padding: 1em;
    }
}